#main {
	font-size:20px;
}

.container {
	padding:100px 20px;text-align:center;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.clear:hover {
	cursor: pointer;
}

.clear:active {
	color:#DDD;
}