<head>
  <title>N26 ATM</title>
  <script src="https://use.fontawesome.com/80fd9ed2e0.js"></script>
</head>

<body>
	<!-- inline styles are bad, I know but merp -->
	<div class="container" style="padding:100px 20px;text-align:center;">
		<header style="text-align:center">
			<img src="/img/n26-logo.png" width="300" height="auto" />
		</header> 
		<div id="main" style="padding:50px">
		{{> applicationLayout}}
		</div>
		
	</div>
</body>

<!-- This is a dynamic template which allows us to variabbly place in the template 
in replace of main, which is generally done in routes.js, and the page javascript for the processing template
-->
<template name="applicationLayout">
  {{> Template.dynamic template=main}}
</template>