<template name="withdrawl">
 {{> nav path="pin"}}
  <h2>Please select an amount to withdrawl.</h2>
  
  <div class="row" style="text-align:left">
  	<div class="col-md-6 col-md-offset-3">
  	<div class="col-md-6">
  		<div class="col-md-12 top10">
  			<a href="/processing?amount=20&type=usd" class="withdrawl-amount btn btn-default btn-lg">$20</a>
  		</div>
  		<div class="col-md-12 top10">
  			<button type="button" class="withdrawl-amount btn btn-default btn-lg">$40</button>
  		</div>
  		<div class="col-md-12 top10">
  			<button type="button" class="withdrawl-amount btn btn-default btn-lg">$60</button>
  		</div>
  	</div>
  	<div class="col-md-6">
  		<div class="col-md-12 top10">
  			<button type="button" class="withdrawl-amount btn btn-default btn-lg">$80</button>
  		</div>
  		<div class="col-md-12 top10">
  			<button type="button" class="withdrawl-amount btn btn-default btn-lg">$100</button>
  		</div>
  		<div class="col-md-12 top10">
  			<button type="button" class="withdrawl-amount btn btn-default btn-lg">$200</button>
  		</div>
  	</div>
  	</div>
  </div>
    <div class="col-md-6 col-md-offset-3 top10">
  <form id="custom-amount-form">
	  <div class="form-group">
	  	<input id="custom-amount" class="form-control input-lg" placeholder="Custom Amount" name="amount" type="text">
	  </div>
	  <button type="submit" class="btn btn-default btn-lg">Submit</button>
	  </form>
  </div>
  <div class="col-6" style="text-align:left">
    <i class="clear fa fa-times-circle-o" aria-hidden="true"></i>
  </div>

</template>