<template name="welcome">
  <h1>Welcome!</h1>
  <h2>Please push below to enter your card.</h2>
  <span id="cc-insert" class="fa-stack fa-lg fa-5x">
	  <i class="fa fa-circle-thin fa-stack-2x "></i>
	  <i class="fa fa-credit-card fa-stack-1x"></i>
	
  </span>
  <br>
     Enter Card
<br>
 
</template>