<template name="pin">
{{#if error}}
  <div class="col-md-6 col-md-offset-3 errors alert alert-danger">{{error}}</div>
 {{/if}}
 {{> nav path="/"}}
  <div class="col-md-12">
  <h2>Please enter your pin number below.</h2>
  </div>
  
  <div class="row">
  	<div class="col-md-12">
	  <div class="col-md-6 col-md-offset-3">
		  <form id="pin-form" class="pin-form">
			  <div class="form-group">
			  	<input class="pin-input form-control input-lg"  name="pin" type="password"> 
			  </div>
			  <button type="submit" class="btn btn-default btn-lg">Submit</button> 
		  </form>
	  </div>
	  <div class="col-6" style="text-align:left">
	  	<i class="clear fa fa-times-circle-o" aria-hidden="true"></i>
	  </div>
	</div>
  </div>
<br>

</template>