<template name="nav">
  <div class="col-md-6 col-md-offset-3" >
  <a href={{path}} class="btn btn-default" style="float:left">Back</a>
  <a href="/" class="btn btn-default" style="float:right">Abort</a>
  </div>
  <br>
</template>