<template name="success">
	<i class="fa fa-money fa-5x" aria-hidden="true"></i>

	<h2>Money In Your Pocket.</h2>
	Congrats! Your transaction was successful.
	<br>
	Please remove your card and take your money
</template>	